/*setting*/
*{ margin:0; padding:0; font-family:'malgun gothic'; }
ul,li{ list-style:none; }
a{ text-decoration:none; color:#444; }
input[type=button],[data-location],[data-slide]{ cursor:pointer; }

/*header css*/
.header{
	min-width:1024px;
	background:url('/img/header.png');
	height:84px;
	box-shadow:0px 5px 10px #999; }

	.header header{
		width:1024px;
		margin:0 auto;
		height:84px;}

		/*header top*/

		.header header .headerUp{
			width:100%;
			text-align:right;}

			.header header .headerUp li{
				display:inline-block;
				vertical-align:top;
				padding-top:5px;}

				.header header .headerUp li input{
					width:20px;
					height:20px;
					border:none;
					color:#fff;
					font-weight:bold;}

				.header header .headerUp li input:nth-of-type(1){
					background:#494949; }

				.header header .headerUp li input:nth-of-type(2){
					background:#aeaeae; }
					
				.header header .headerUp li span{
					font-family:'돋움';
					color:#6e6e6e;
					font-size:0.85em;}

				.header header .headerUp li span:not(:nth-of-type(2)):after{
					content:'|';
					padding:5px;
					margin-top:5px;
					font-size:0.7em;}

	/*logo*/

	.header header h1{
		position:absolute;;
		z-index:100;
		float:left;}
	
	/*menu css*/

	.header header nav{
		display:inline-block;
		vertical-align:top;
		float:right;
		padding-top:12px;}
	
		.header header nav > ul{
			display:flex; }

			.header header nav > ul > li{
				padding:12px; }

			.header header nav > ul > li:not(:last-child):after{
				content:'|';
				font-size:0.7em;
				padding:0 40px;}

				.header header nav > ul > li > a{
					font-weight:bold;
					font-size:1em; }

				.header header nav > ul > li:hover > a{
					color:#9c230f;}

				.header header nav > ul > li ul.menuOn{
					height:100px;
					display:block;
					z-index:100;}

					.header header nav ul li ul{
						color:#000;
						opacity:0.8;
						position:absolute;
						overflow:hidden;
						width:150px;
						top:84px;
						transition:all 1s;
						height:0px;}

						.header header nav ul li ul li{
							border-bottom:1px solid #fff;
							background:#000;
							padding:10px 0;
							font-size:0.8em; }
							
							.header header nav ul li ul li a{
								color:#fff;
								padding-left:10px; }

							.header header nav ul li ul li:hover{
								background:#444;}

/*footer css start*/


.wrapFooter{
	clear:both;
	min-width:1024px;
	height:70px;
	padding-top:30px;
	background:#d4d4d4;
	color:#444; }

	.wrapFooter footer{
		width:1024px;
		margin:0 auto;
		font-size:0.75em;
		font-family:'돋움';}

		.wrapFooter footer p{
			padding:5px 0;}

